<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        thead{
            background-color: green;
        }
        td,th{
            background-color: aquamarine;
            color: azure;
            padding: 10px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
    <form action="update" method="post">
        {% csrf_token %}
        <table>
            <thead>
                <th>NAME</th>
                <th>MOBILE</th>
                <th>EMAIL</th>
                <th>PASSWORD</th>
                <th>EDIT</th>
                <th>UPDATE</th>
            </thead>
            <tbody>
                {% for ls in details %}
                <tr>
                    <td><input type="text" value="{{ls.id}}" name="idn" hidden>
                        <input type="text" value="{{ls.name}}" name="nm1"></td>
                    <td><input type="number" value="{{ls.mobile}}" name="mb1"></td>
                    <td><input type="email" value="{{ls.email}}" name="em1"></td>
                    <td><input type="password" value="{{ls.password}}" name="ps1"></td>
                    <td><button type="submit">Update</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</body>
</html>